.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px auto auto;
}
.input-container {
    margin: 0 auto;
    min-height: 106px;
}