.burger-constructor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 100px 0 auto 0;
}
.constructor-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    max-height: 444px;
    margin: 0;
}
.constructor-container::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}
.constructor-container::-webkit-scrollbar-thumb {
    background: #8585AD;
}
.constructor-default-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 444px;
    margin: 0;
}
.default-container {
    display: flex;
    width: 536px;
    height: 80px;
    background: #1C1C21;
    border-radius: 40px;
    margin: 0 16px;
}
.default-container-text {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    margin: auto;
}