.order-feed {
    display: flex;
    flex-direction: column;
    margin: 40px auto auto;
    border: 1px solid red;
}
.heading {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 0 auto 0 0;
    border: 1px solid red;
}
.main-container {
    display: flex;
    margin: 20px auto auto 0;
    border: 1px solid red;
}
.orders-container {
    display: flex;
    flex-direction: column;
    width: 608px;
    max-height: 722px;
    overflow-y: scroll;
    margin: 0 60px auto 0;
    row-gap: 16px;
    border: 1px solid red;
}
.orders-container::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}
.orders-container::-webkit-scrollbar-thumb {
    background: #8585AD;
}
