.order-button {
    display: flex;
    margin: 30px 0 0 auto;
    align-items: center;
}
.total-price-container {
    display: flex;
    align-items: center;
    margin: auto 40px auto 0;
}
.total-price {
    font-family: 'Iceland', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
    margin: auto 8px auto 0;
}
.currency-icon {
    width: 36px;
    height: 36px;
    margin: 0;
}