.app {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
  min-width: 300px;
  background: #131316;
}
.app-hidden {
  overflow: hidden;
}
.ingredient-container {
  display: flex;
  flex-direction: column;
  margin: 120px auto auto;
}
.ingredient-heading {
  font-family: 'JetBrains Mono', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #F2F2F3;
  margin: 0 auto;
}