@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("JetBrainsMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("JetBrainsMono-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: 'Iceland';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Iceland-Regular.woff2") format("woff2");
}
