.ingredient {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 272px;
    height: 208px;
}
.counter-container {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
}
.picture {
    width: 240px;
    height: 120px;
    margin: 0 auto;
}
.price-container {
    display: flex;
    margin: 8px auto 0;
}
.price {
    font-family: 'Iceland', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    margin: auto 8px auto 0;
}
.item-name {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 8px auto auto;
    text-align: center;
}