.orders-status {
    display: flex;
    flex-direction: column;
    margin: 0 auto auto 0;
}
.orders-status-container {
    display: flex;
}
.orders-status-info {
    display: flex;
    flex-direction: column;
    width: 272px;
    margin: 0 36px 0 0;
}
.orders-status-info:last-of-type {
    margin: 0;
}
.heading {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #F2F2F3;
    margin: 0 auto 0 0;
}
.orders-numbers-container {
    display: flex;
    margin: 24px 0 0;
}
.column-container {
    display: flex;
    flex-direction: column;
    margin: 0 46px 0 0;
}
.column-container:last-of-type {
    margin: 0;
}
.orders-number {
    font-family: 'Iceland', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    margin: 0 auto 8px 0;
}
.orders-number:last-of-type {
    margin: 0 auto 0 0;
}
.orders-number-done {
    composes: orders-number;
    color: #00CCCC;
}
.total-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0 0;
}
.total-value {
    font-family: 'Iceland', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    line-height: 120px;
    margin: 0 auto 0 0;
    -moz-text-shadow: 0 0 20px #3333FF; 
    -webkit-text-shadow: 0 0 20px #3333FF; 
    text-shadow: 0 0 20px #3333FF;
}