.orders {
    display: flex;
    flex-direction: column;
    margin: -84px auto auto 40px;
    width: 860px;
    max-height: 790px;
    overflow-y: scroll;
    row-gap: 24px;
    border: 1px solid red;
}
.orders::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}
.orders::-webkit-scrollbar-thumb {
    background: #8585AD;
}